{% comment %} Tiles4Less slideshow content {% endcomment %}

<div class="slideshow-wrapper">
  <slideshow-component
    class="slideshow"
    data-layout="{{ 'full_bleed' }}"
    data-slide-height="{{ 'medium' }}"
    data-auto-rotate="{{ true }}"
    data-change-speed="{{ 5 }}"
  >
    <div class="slideshow__slide">
      {% if 'shopify://shop_images/T4L_Free_Delivery_1.png' != blank %}
        <img src="{{ 'shopify://shop_images/T4L_Free_Delivery_1.png' | image_url }}" alt="Slide {{ 1 }}" loading="lazy">
      {% endif %}
      {% if '' != blank or '' != blank %}
        <div class="slideshow__text-wrapper banner__content {{ 'middle-center' }} {{ 'center' }}">
          {% if '' != blank %}
            <h2 class="{{ 'h0' }}">{{ '' }}</h2>
          {% endif %}
          {% if '' != blank %}
            <div class="slideshow__subheading">{{ '' }}</div>
          {% endif %}
          {% if '' != blank %}
            <a href="{{ '' }}" class="button {% if false %}button--secondary{% else %}button{% endif %}">
              {{ '' }}
            </a>
          {% endif %}
        </div>
      {% endif %}
      {% if '#' != blank %}
        <a href="{{ '#' }}" class="slideshow__slide-link" aria-label="Slide link"></a>
      {% endif %}
    </div>
    <div class="slideshow__slide">
      {% if 'shopify://shop_images/Bathroom_Products.png' != blank %}
        <img src="{{ 'shopify://shop_images/Bathroom_Products.png' | image_url }}" alt="Slide {{ 2 }}" loading="lazy">
      {% endif %}
      {% if '' != blank or '' != blank %}
        <div class="slideshow__text-wrapper banner__content {{ 'middle-center' }} {{ 'center' }}">
          {% if '' != blank %}
            <h2 class="{{ 'hxxl' }}">{{ '' }}</h2>
          {% endif %}
          {% if '' != blank %}
            <div class="slideshow__subheading">{{ '' }}</div>
          {% endif %}
          {% if '' != blank %}
            <a href="{{ '' }}" class="button {% if false %}button--secondary{% else %}button{% endif %}">
              {{ '' }}
            </a>
          {% endif %}
        </div>
      {% endif %}
      {% if 'shopify://collections/bathroom-products' != blank %}
        <a href="{{ 'shopify://collections/bathroom-products' }}" class="slideshow__slide-link" aria-label="Slide link"></a>
      {% endif %}
    </div>
    <div class="slideshow__slide">
      {% if 'shopify://shop_images/Kitchen_Tiles.png' != blank %}
        <img src="{{ 'shopify://shop_images/Kitchen_Tiles.png' | image_url }}" alt="Slide {{ 3 }}" loading="lazy">
      {% endif %}
      {% if '' != blank or '' != blank %}
        <div class="slideshow__text-wrapper banner__content {{ 'middle-center' }} {{ 'center' }}">
          {% if '' != blank %}
            <h2 class="{{ 'h1' }}">{{ '' }}</h2>
          {% endif %}
          {% if '' != blank %}
            <div class="slideshow__subheading">{{ '' }}</div>
          {% endif %}
          {% if '' != blank %}
            <a href="{{ '' }}" class="button {% if false %}button--secondary{% else %}button{% endif %}">
              {{ '' }}
            </a>
          {% endif %}
        </div>
      {% endif %}
      {% if 'shopify://collections/kitchen-tiles' != blank %}
        <a href="{{ 'shopify://collections/kitchen-tiles' }}" class="slideshow__slide-link" aria-label="Slide link"></a>
      {% endif %}
    </div>
    <div class="slideshow__slide">
      {% if 'shopify://shop_images/Metro_Tiles.png' != blank %}
        <img src="{{ 'shopify://shop_images/Metro_Tiles.png' | image_url }}" alt="Slide {{ 4 }}" loading="lazy">
      {% endif %}
      {% if '' != blank or '' != blank %}
        <div class="slideshow__text-wrapper banner__content {{ 'middle-center' }} {{ 'center' }}">
          {% if '' != blank %}
            <h2 class="{{ 'h1' }}">{{ '' }}</h2>
          {% endif %}
          {% if '' != blank %}
            <div class="slideshow__subheading">{{ '' }}</div>
          {% endif %}
          {% if '' != blank %}
            <a href="{{ '' }}" class="button {% if false %}button--secondary{% else %}button{% endif %}">
              {{ '' }}
            </a>
          {% endif %}
        </div>
      {% endif %}
      {% if 'shopify://collections/metro-tiles' != blank %}
        <a href="{{ 'shopify://collections/metro-tiles' }}" class="slideshow__slide-link" aria-label="Slide link"></a>
      {% endif %}
    </div>
    <div class="slideshow__slide">
      {% if 'shopify://shop_images/Vinyl_TIles.png' != blank %}
        <img src="{{ 'shopify://shop_images/Vinyl_TIles.png' | image_url }}" alt="Slide {{ 5 }}" loading="lazy">
      {% endif %}
      {% if '' != blank or '' != blank %}
        <div class="slideshow__text-wrapper banner__content {{ 'middle-center' }} {{ 'center' }}">
          {% if '' != blank %}
            <h2 class="{{ 'h1' }}">{{ '' }}</h2>
          {% endif %}
          {% if '' != blank %}
            <div class="slideshow__subheading">{{ '' }}</div>
          {% endif %}
          {% if '' != blank %}
            <a href="{{ '' }}" class="button {% if false %}button--secondary{% else %}button{% endif %}">
              {{ '' }}
            </a>
          {% endif %}
        </div>
      {% endif %}
      {% if 'shopify://collections/lvt-flooring' != blank %}
        <a href="{{ 'shopify://collections/lvt-flooring' }}" class="slideshow__slide-link" aria-label="Slide link"></a>
      {% endif %}
    </div>
    <div class="slideshow__slide">
      {% if 'shopify://shop_images/Outdoor-min.png' != blank %}
        <img src="{{ 'shopify://shop_images/Outdoor-min.png' | image_url }}" alt="Slide {{ 6 }}" loading="lazy">
      {% endif %}
      {% if '' != blank or '' != blank %}
        <div class="slideshow__text-wrapper banner__content {{ 'middle-center' }} {{ 'center' }}">
          {% if '' != blank %}
            <h2 class="{{ 'h1' }}">{{ '' }}</h2>
          {% endif %}
          {% if '' != blank %}
            <div class="slideshow__subheading">{{ '' }}</div>
          {% endif %}
          {% if '' != blank %}
            <a href="{{ '' }}" class="button {% if false %}button--secondary{% else %}button{% endif %}">
              {{ '' }}
            </a>
          {% endif %}
        </div>
      {% endif %}
      {% if 'shopify://collections/outdoor-tiles' != blank %}
        <a href="{{ 'shopify://collections/outdoor-tiles' }}" class="slideshow__slide-link" aria-label="Slide link"></a>
      {% endif %}
    </div>
  </slideshow-component>
</div>